.home {
    width: 100%;
    height: 100%;
    /*border: 2px solid black;*/
    margin-right: auto;
    margin-left: auto;
}
.section-one {
    width: 100%;
    height: 500px;
    margin-top: -84px;
    background-image: url('../images/background/sectionOne.jpeg');
    background-size:auto;
    text-align: center;
}

.headerOne {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    /* border: 2px solid black; */
    color:brown;
    margin-top: 20px; 
    margin-bottom: auto;  
}

.section-one p {
    /* border: 2px solid black; */
    font-size: 20px;
    margin-right: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: whitesmoke;
}

.section-one h2 {
    /* border: 2px solid black; */
    font-size: 25px;
    font-weight: bold;
    margin-right: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: whitesmoke;
}

.container-one {
    position:relative;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.section-two {
    width: 100%;
    height: 400px;
    background-size:auto;
    text-align: center;
    /* border: 2px solid black; */
}

.container-two {
    position:relative;
    margin-right: auto;
    margin-left: auto;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}


.container-two h2{
    position:relative;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
    color: #448EE4;

}
.container-two p {
    /* border: 2px solid black; */
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
}

.section-three {
    width: 100%;
    height: 400px;
    background-size:auto;
    text-align: center;
    /* border: 2px solid black; */
    background-color: #448EE4;
}

.container-three {
    position:relative;
    margin-right: auto;
    margin-left: auto;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.container-three h1, h2{
    position:relative;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.container-three p{
    position:relative;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    color: white;
}

.section-four {
    width: 100%;
    height: 100px;
    background-size:auto;
    text-align: center;
    /* border: 2px solid black; */
    background-color: whitesmoke;
}

.container-four {
    position:relative;
    margin-right: auto;
    margin-left: auto;
    top: 50%; 
    left: 50%;
    font-weight: bold; 
    font-size: 20px;
    transform: translate(-50%, -50%); 
}